body {
    background-color: #ffffff;
}

#nav > li > a {
    font-family: "Noto Sans";
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading #nav > li > a, {
    opacity: 0;
}

.ie.wf-loading #nav > li > a, {
    visibility: hidden;
}

#nav > li > ul li a {
    font-family: "Noto Sans";
    line-height: 44px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading #nav > li > ul li a, {
    opacity: 0;
}

.ie.wf-loading #nav > li > ul li a, {
    visibility: hidden;
}

#nav > li > a {
    padding-top: 0;
    padding-right: 23px;
    padding-bottom: 0;
    padding-left: 23px;
}

#nav > li ul {
    background-color: #448ccb;
}

.jws_theme_footer {
    background-color: #3d3d47;
    background-repeat: no-repeat;
    background-position: center top;
}

.jws_theme_footer {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.jws_theme_footer {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

    .jws_theme_footer .footer-top {
        background-color: transparent;
    }

    .jws_theme_footer .footer-top {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .jws_theme_footer .footer-top {
        padding-top: 60px;
        padding-right: 0;
        padding-bottom: 20px;
        padding-left: 0;
    }

    .jws_theme_footer .footer-center {
        background-color: transparent;
    }

    .jws_theme_footer .footer-center {
        margin-top: 46px;
        margin-right: 0;
        margin-bottom: 77px;
        margin-left: 0;
    }

    .jws_theme_footer .footer-center {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .jws_theme_footer .footer-bottom {
        background-color: #252525;
    }

    .jws_theme_footer .footer-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .jws_theme_footer .footer-bottom {
        padding-top: 20px;
        padding-right: 0;
        padding-bottom: 20px;
        padding-left: 0;
    }

body {
    font-family: "Noto Sans";
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #898989;
    font-size: 13px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body, {
    opacity: 0;
}

.ie.wf-loading body, {
    visibility: hidden;
}

body h1 {
    font-family: "Noto Sans";
    line-height: 40px;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    font-size: 46px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h1, {
    opacity: 0;
}

.ie.wf-loading body h1, {
    visibility: hidden;
}

body h2 {
    font-family: "Noto Sans";
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h2, {
    opacity: 0;
}

.ie.wf-loading body h2, {
    visibility: hidden;
}

body h3 {
    font-family: "Noto Serif";
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
    color: #222222;
    font-size: 26px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h3, {
    opacity: 0;
}

.ie.wf-loading body h3, {
    visibility: hidden;
}

body h4 {
    font-family: "Noto Serif";
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
    color: #363636;
    font-size: 21px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h4, {
    opacity: 0;
}

.ie.wf-loading body h4, {
    visibility: hidden;
}

body h5 {
    font-family: "Noto Serif";
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
    color: #363636;
    font-size: 16px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h5, {
    opacity: 0;
}

.ie.wf-loading body h5, {
    visibility: hidden;
}

body h6 {
    line-height: 17px;
    color: #222222;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body h6, {
    opacity: 0;
}

.ie.wf-loading body h6, {
    visibility: hidden;
}

.font-eduonline-1 {
    font-family: "Noto Serif";
    font-weight: 700;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .font-eduonline-1, {
    opacity: 0;
}

.ie.wf-loading .font-eduonline-1, {
    visibility: hidden;
}

.font-eduonline-2 {
    font-family: "Noto Serif";
    font-weight: 400;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .font-eduonline-2, {
    opacity: 0;
}

.ie.wf-loading .font-eduonline-2, {
    visibility: hidden;
}

.font-eduonline-3 {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: normal;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .font-eduonline-3, {
    opacity: 0;
}

.ie.wf-loading .font-eduonline-3, {
    visibility: hidden;
}

.font-eduonline-4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .font-eduonline-4, {
    opacity: 0;
}

.ie.wf-loading .font-eduonline-4, {
    visibility: hidden;
}

.title-bar .page-title {
    font-family: "Noto Serif";
    text-align: left;
    line-height: 48px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading .title-bar .page-title, {
    opacity: 0;
}

.ie.wf-loading .title-bar .page-title, {
    visibility: hidden;
}

.title-bar {
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-image: url('wp-content/uploads/2017/06/bg-pagetitle.jpg');
}

.title-bar, .title-bar-shop {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 57px;
    margin-left: 0;
}

.title-bar, .title-bar-shop {
    padding-top: 46px;
    padding-right: 0;
    padding-bottom: 23px;
    padding-left: 0;
}